<h1>New Invoice</h1>

<!--<%= render 'form', invoice: @invoice %>

<%= link_to 'Back', invoices_path %>-->


<h4 class="pt-2" style="font-family: Arial, Helvetica, sans-serif;"></h4>
<div class="d-flex justify-content-center flex-column">
    <div class="p-2 bd-highlight"><%= render 'form', invoice: @invoice %></div>
    <div class="p-2 bd-highlight"><%= link_to 'Back', invoices_path, :class=>"btn btn-outline-primary" %></div>
</div>


