<p id="notice"><%= notice %></p>

<p>
  <strong>Prod category:</strong>
  <%= @prod_category.prod_category %>
</p>

<%= link_to 'Edit', edit_prod_category_path(@prod_category) %> |
<%= link_to 'Back', prod_categories_path %>
