<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @prodcategory.category %>
</p>

<%= link_to 'Edit', edit_prodcategory_path(@prodcategory) %> |
<%= link_to 'Back', prodcategories_path %>
