<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= sanitize @servstatus.status.html_safe %>
</p>

<%= link_to 'Edit', edit_servstatus_path(@servstatus) %> |
<%= link_to 'Back', servstatuses_path %>
