<<<<<<< HEAD
.application_header{
    background-color:white;
    padding-top: 1px;
    padding-bottom:3px;
    padding-left:3px;
    border: solid 2px;
}
=======
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
    background-color:lightblue;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    padding-bottom: 100px;
    
  }
  
  .wrapper_signup {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 20%;
    min-height: 10%;
    padding: 10px;
    padding-bottom: 100px;
    
  }
  

  #login_form {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  #header_style{
    position: relative;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 25px;
  }
>>>>>>> 1e4dedb765226f771e2e0a7d924dcfce1d687d4d
