
body{
  background-color:lightblue;
}



#button1{
    padding: 2px;
}
#button2{
    padding: 2px;
}
#button3{
    padding: 2px;
}
#button4{
    padding: 2px;
}
#button5{
    padding: 2px;
}
#button6{
    padding: 2px;
}
#button7{
    padding: 2px;   
}
#button8{
    padding: 2px;   
}
#button1:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  #button2:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  #button3:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  #button4:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  #button5:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  #button6:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  #button7:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  #button8:hover {
    background-color: rgb(70, 245, 236);
    box-shadow: 0px 1px 2px rgba(105, 245, 222, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }


  .home_container{
    background-color:lightgray;
 
  }

  #home_navbar{
    background-color:white;
    width:13%;
    border:groove 2px;
  }
  #home_content{
    background-color:white;
    width:25%;
    border:groove 2px;
  }

