// Place all the styles related to the Stlservices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.subpage_header {
    padding: 5px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 10px;
  }