<p id="notice"><%= notice %></p>

<div class="subpage_header">
<h1>Transportations</h1>
</div>
<%= render 'form', stlservice: @stlservice %>

<%= link_to 'Show', @stlservice %> |
<%= link_to 'Back', stlservice_path %>
